@import "tailwindcss";

@theme {
  --color-brand-green: #8dc92f;
  --color-brand-blue: #16a5a8;
  --color-brand-darkblue: #0b1b2a;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  /*outline: 2px solid orange;*/
}